Java/Spring/boot/spring-boot-demo/.classpath
Java/Spring/boot/spring-boot-demo/.project
Java/Spring/boot/spring-boot-demo/.settings/*
Java/Spring/boot/spring-boot-demo/target/
Java/Spring/boot/spring-boot-demo-yaml/.classpath
Java/Spring/boot/spring-boot-demo-yaml/.project
Java/Spring/boot/spring-boot-demo-yaml/.settings/*
Java/Spring/boot/spring-boot-demo-yaml/target/
Java/Spring/boot/spring-boot-demo-liquibase/.classpath
Java/Spring/boot/spring-boot-demo-liquibase/.settings/*
Java/Spring/boot/spring-boot-demo-liquibase/.project
Java/Spring/boot/spring-boot-demo-liquibase/target
Java/Spring/boot/spring-boot-demo-liquibase/.gitignore
Java/Jooq/jooq-demo/.settings
Java/Jooq/jooq-demo/.classpath
Java/Jooq/jooq-demo/.project
Java/Jooq/jooq-demo/target/*
Java/Jooq/jooq-demo/.gitignore
Java/Jooq/jooq-demo/.settings
Java/Jooq/jooq-demo-spring/.classpath
Java/Jooq/jooq-demo-spring/.project
Java/Jooq/jooq-demo-spring/.settings/*
Java/Jooq/jooq-demo-spring/target/*
Java/Jooq/jooq-demo-spring/.gitignore
Java/Jooq/jooq-demo-spring/src/main/java/szaq/jooq/demo/gen
Java/testNG/test-ng/target/*
Java/Spring/boot/spring-boot-demo/.idea/*
Java/Spring/boot/spring-boot-demo/spring-boot-demo.iml
Java/testNG/test-ng/.idea/*
Java/testNG/test-ng/*.iml
Java/Mockito/mockito-tests/.idea/
Java/Mockito/mockito-tests/*.iml
Java/Mockito/mockito-tests/target/*
Guava/szaqalguava/target/*
Java/Jersey/jersey-sample/target/*
Java/Jersey/jersey-sample/*.iml
Java/Jersey/jersey-sample/.idea/
Java/Guava/szaqalguava/target/*
Java/Guava/szaqalguava/.idea/*
Java/Guava/szaqalguava/*.iml
Scala/00/target/*
Scala/00/project/*
Scala/01/target/*
Scala/01/project/project/target/*
Scala/01/project/target/*
Scala/01/.cache
Scala/01/.classpath
Scala/01/.project
sbt_custom_variables/target/*
Scala/sbt_custom_variables/project/target/*
Scala/implicit_conversion/project/target/*
Scala/implicit_conversion/.cache
Scala/implicit_conversion/.classpath
Scala/implicit_conversion/.project
Scala/implicit_conversion/project/project/*
Scala/implicit_conversion/target/*
Scala/sbt_custom_variables/target/*
Alg/Simple/Factorial/target/*
Alg/Simple/Factorial/project/*
Alg/Simple/Factorial/.classpath
Alg/Simple/Factorial/.project
Alg/Simple/Factorial/.worksheet/*
Alg/Simple/Factorial/.cache/*
Alg/Simple/Fibonacci/target/*
Alg/Simple/Fibonacci/project/*
Alg/Simple/Fibonacci/.classpath
Alg/Simple/Fibonacci/.project
Alg/Simple/Fibonacci/.worksheet/*
Alg/Simple/Fibonacci/.cache/*
Alg/Simple/Fibonacci/.cache

Alg/Simple/Sorting/target/*
Alg/Simple/Sorting/project/*
Alg/Simple/Sorting/.classpath
Alg/Simple/Sorting/.project
Alg/Simple/Sorting/.worksheet/*
Alg/Simple/Sorting/.cache

Scala/misc_problems/target/*
Scala/misc_problems/project/*
Scala/misc_problems/.classpath
Scala/misc_problems/.project
Scala/misc_problems/.worksheet/*
Scala/misc_problems/.cache
.recommenders/
**/.Rhistory
**/.cache
**/.classpath
**/.project
**/.settings/
**/target
bin/*
**/*.cache
**/.metadata
**target
**/*.idea
.DS_Store
Java/.DS_Store
