SpringVaadinDemo/target/**
SpringVaadinDemo/bin/**
SpringVaadinDemo/build/**
SpringVaadinDemo/dist/**
SpringVaadinDemo/lib/**
SpringVaadinDemo/.classpath
SpringVaadinDemo/.eclipse
SpringVaadinDemo/.project
